$def with (result)

<html>
<head><title>Lists Statistics Report</title></head>
<style>
    table, th, td {
        border: 1px solid black;
    }
    table {
        width:100%;
    }
    th {
        height:50px;
    } 
</style>
<body>
$ result = result['lists']
$if result:
    <table>
      <tr>
        <td> Date From </td> 
        <td> Date To </td> 
        <td> Provider </td> 
        <td> Publisher </td> 
        <td> Total Subscribers </td> 
        <td> Hardbounce </td>
        <td> Softbouce </td> 
        <td> Optout </td> 
        <td> Engagedt </td> 
        <td> Active </td> 
        <td> Passive </td> 
        <td> Dormant </td>
      </tr>
      $for data in result:
      <tr>
        <td> $data['from_date'] </td>
        <td> $data['to_date'] </td>
        <td> $data['esp'] </td>
        <td> $data['publisher'] </td>
        <td> $data['ls_subscriberstotal'] </td>
        <td> $data['ls_hardbounce'] </td>
        <td> $data['ls_softbounce'] </td>
        <td> $data['ls_optout'] </td>
        <td> $data['ls_engadgetcount'] </td>
        <td> $data['ls_activecount'] </td>
        <td> $data['ls_passivecount'] </td>
        <td> $data['ls_dormantcount'] </td>
      </tr>
    </table>
</body>
</html>
